root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = tab
indent_size = 4

[*.cs]
file_header_template = Copyright © Clinton Ingram and Contributors.  Licensed under the MIT License.
csharp_style_deconstructed_variable_declaration = true:silent
csharp_style_prefer_range_operator = true:silent

# Do not catch general exception types
dotnet_diagnostic.CA1031.severity = silent
