root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = tab
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2

[*.cs]
file_header_template = Copyright © Clinton Ingram and Contributors.  Licensed under the MIT License.

csharp_style_prefer_range_operator = true:silent
csharp_style_prefer_utf8_string_literals = true:silent
csharp_style_deconstructed_variable_declaration = true:silent

dotnet_diagnostic.CA1031.severity = silent
dotnet_diagnostic.CA1308.severity = silent
dotnet_diagnostic.CA1816.severity = silent
dotnet_diagnostic.CS3016.severity = silent

dotnet_naming_rule.private_non_field_members_should_be_camel_case.severity = suggestion
dotnet_naming_rule.private_non_field_members_should_be_camel_case.symbols = private_non_field_members
dotnet_naming_rule.private_non_field_members_should_be_camel_case.style = camel_case

dotnet_naming_symbols.private_non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.private_non_field_members.applicable_accessibilities = private

dotnet_naming_style.camel_case.capitalization = camel_case
