[submodule "modules/Blake2Fast"]
	path = modules/Blake2Fast
	url = https://github.com/saucecontrol/Blake2Fast
	update = merge
[submodule "modules/CompactProfiles"]
	path = modules/CompactProfiles
	url = https://github.com/saucecontrol/Compact-ICC-Profiles
	update = merge
[submodule "modules/vcpkg"]
	path = modules/vcpkg
	url = https://github.com/microsoft/vcpkg
